<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundialito Repsol 2026 - Tablero</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="content">
        <header class="top-nav">
            <div class="logo-seccion">
                <img src="{{ url_for('static', filename='../static/logo-repsol.svg') }}" alt="Logo" class="logo-img">
                <div class="divisor-vertical"></div>
                <h2>Mundialito Repsol - 2026</h2>
            </div>
            <div class="nav-acciones">
                <div class="tabs">
                    <span id="tab-tablero" class="active" onclick="cambiarVista('tablero')">Tablero</span>
                    <span id="tab-ranking" onclick="cambiarVista('ranking')">Ranking</span>
                </div>
                <a href="https://apps.powerapps.com/play/e/a6ba955d-5f30-e80f-947b-925fcb6e1056/a/1a3fef0a-bf37-475d-9d67-33b70c73e47c?tenantId=0a25214f-ee52-483c-b96b-dc79f3227a6f&hint=bf40afcb-123e-4a31-86c2-c185084c2220&source=sharebutton&sourcetime=1780044940930" target="_blank" class="btn-apuesta">Registra tu pronóstico</a>
            </div>
        </header>

        {% include 'tablero_view.html' %}
        {% include 'ranking_view.html' %}
    </main>

    {% include 'tablero_scripts.html' %}
    {% include 'ranking_scripts.html' %}
    <script>
        function cambiarVista(vista) {
            const vistaTablero = document.getElementById('vista-tablero');
            const vistaRanking = document.getElementById('vista-ranking');
            const tabTablero = document.getElementById('tab-tablero');
            const tabRanking = document.getElementById('tab-ranking');

            if (vista === 'ranking') {
                vistaTablero.classList.add('hidden');
                vistaRanking.classList.remove('hidden');
                tabRanking.classList.add('active');
                tabTablero.classList.remove('active');
                return;
            }

            vistaRanking.classList.add('hidden');
            vistaTablero.classList.remove('hidden');
            tabTablero.classList.add('active');
            tabRanking.classList.remove('active');
        }

        cargarDatos();
        cargarRanking();
        setInterval(cargarDatos, 60000);
        setInterval(cargarRanking, 60000);
    </script>
</body>
</html>

