<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundialito Movilidad 2026 - Partidos y Grupos</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="content">
        <header class="top-nav">
            <div class="logo-seccion">
                <img src="{{ url_for('static', filename='logo-repsol.svg') }}" alt="Logo" class="logo-img">
                <div class="divisor-vertical"></div>
                <h2>Mundialito Movilidad - 2026</h2>
            </div>
            <div class="nav-acciones">
                <div class="tabs">
                    <a id="tab-tablero" href="/" class="active">Partidos y Grupos</a>
                    <a id="tab-ranking" href="/ranking">Ranking</a>
                </div>
                <a href="https://apps.powerapps.com/play/e/a6ba955d-5f30-e80f-947b-925fcb6e1056/a/1a3fef0a-bf37-475d-9d67-33b70c73e47c?tenantId=0a25214f-ee52-483c-b96b-dc79f3227a6f&hint=bf40afcb-123e-4a31-86c2-c185084c2220&source=sharebutton&sourcetime=1780044940930" target="_blank" class="btn-apuesta">Registra tu pronóstico</a>
            </div>
        </header>

        {% include 'tablero_view.html' %}
    </main>

    {% include 'tablero_scripts.html' %}
    <script>
        cargarDatos();
        setInterval(cargarDatos, 60000);
    </script>
</body>
</html>
