<div class="dashboard-grid" id="vista-tablero">
    <div class="columna-partidos">
            <div id="contenedor-principal"></div>
            <div class="other-columns" id="other-columns-layout">
                <div class="other-column" id="columna-jugados">
                    <h4 class="subsection-title subsection-title-orange">Partidos jugados</h4>
                    <div id="contenedor-jugados" class="other-matches"></div>
                </div>
                <div class="other-column" id="columna-resto">
                    <h4 class="subsection-title subsection-title-orange">Resto de la jornada</h4>
                    <div id="contenedor-otros" class="other-matches"></div>
                </div>
            </div>
        </div>

    <div class="columna-grupos">
        <h3 class="section-title" id="titulo-columna-derecha">Posiciones de Grupos</h3>
        <div class="scroll-grupos" id="contenedor-grupos"></div>
    </div>
</div>
